# Build
bin/
obj/
.vs/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# EF Core
Migrations/*.Designer.cs

# AppSettings
appsettings.Development.json